#pokedex1 {
  background-image: url('gen1_pokedex.png');
  height: 600px;
  width: 100%;
  left: 25px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.gen-header {
  text-align: center;
  font-family: "Bangers";
  letter-spacing: 1px;
}

form {
  display: flex;
  justify-content: center;
}

@media (min-width: 1050px){
  .name {
    position: relative;
    color: white;
    top: 40px;
    left: 860px;
    font-size: 28px;
    font-weight: 700;
    width: 10%;
    text-align: center;
    font-family: 'Bangers';
    letter-spacing: 2.5px;
  }

  .height {
    position: relative;
    color: white;
    top: 26px;
    left: 790px;
    font-size: 16px;
    font-weight: 700;
    width: 10%;
    text-align: center;
    font-family: 'Bangers';
    letter-spacing: 2.5px;
  }

  .weight {
    position: relative;
    color: white;
    bottom: 23px;
    left: 925px;
    font-size: 16px;
    font-weight: 700;
    width: 10%;
    text-align: center;
    font-family: 'Bangers';
    letter-spacing: 2.5px;
  }

  .sprite {
    position: relative;
    top: 190px;
    left: 440px;
    width: 15rem;
    height: 15rem;
    width: 10%;
    text-align: center;
  }
}
