#pokemon {
  background-image: url('Pokemon.jpg');
  height: 293px;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#pokemon-group {
  background-image: url('pokemon_group.jpg');
  height: 450px;
  width: 95%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80%;
}
