<h2 class='gen-header'> Second Generation Pokedex </h2>

<form action='/gen2'>
  <input type='text' name='pokemon' placeholder="Pokemon" autofocus>
  <input style='margin-left: 5px;' class='button-primary' type='submit' value='I Choose You'>
</form>

<div id='pokedex2'>

</div>
